@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Medium-Regular";
  src: url("../fonts/Medium-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-gray: #191919;
  --color-dark: #000000;
  --font-family-base: "Clash Display", sans-serif;
  --transition-duration: 0.2s;
}

.container {
  margin-inline: auto;
  max-width: clamp(1400px, 1400px + (1920 - 1400) * (100vw - 1440px) / (1920 - 1440), 1920px);
  padding-inline: clamp(20px, 20px + (40 - 20) * (100vw - 1440px) / (1920 - 1440), 40px);
}
@media (max-width: 1400px) {
  .container {
    max-width: clamp(984px, 984px + (1400 - 984) * (100vw - 1024px) / (1440 - 1024), 1400px);
  }
}
@media (max-width: 984px) {
  .container {
    max-width: clamp(374px, 374px + (984 - 374) * (100vw - 402px) / (1024 - 402), 984px);
    padding-inline: clamp(14px, 14px + (20 - 14) * (100vw - 402px) / (1024 - 402), 20px);
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header + .main .hero {
  min-height: calc(100vh - var(--header-height));
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header__logo {
  margin-inline: auto;
  max-width: clamp(138px, 138px + (187 - 138) * (100vw - 1440px) / (1920 - 1440), 187px);
  margin-top: clamp(56px, 56px + (72 - 56) * (100vw - 1440px) / (1920 - 1440), 72px);
  margin-bottom: clamp(56px, 56px + (72 - 56) * (100vw - 1440px) / (1920 - 1440), 72px);
}
@media (max-width: 1400px) {
  .header__logo {
    margin-top: clamp(54px, 54px + (56 - 54) * (100vw - 1024px) / (1440 - 1024), 56px);
    margin-bottom: clamp(54px, 54px + (56 - 54) * (100vw - 1024px) / (1440 - 1024), 56px);
  }
}
@media (max-width: 984px) {
  .header__logo {
    margin-top: clamp(36px, 36px + (54 - 36) * (100vw - 402px) / (1024 - 402), 54px);
    margin-bottom: clamp(36px, 36px + (54 - 36) * (100vw - 402px) / (1024 - 402), 54px);
  }
}
.header__submenu {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #191919;
  z-index: 1001;
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: clamp(38px, 38px + (72 - 38) * (100vw - 402px) / (1920 - 402), 72px);
  padding-right: clamp(38px, 38px + (72 - 38) * (100vw - 402px) / (1920 - 402), 72px);
}
.header__submenu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header__submenu > * {
  margin-bottom: 24px;
}
.header__submenu > *:last-child {
  margin-bottom: 0;
}
.header__submenu > a {
  font-weight: 700;
}
.header__submenu-button {
  color: var(--color-light);
  font-size: 20px;
  text-transform: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  margin-bottom: 32px;
  font-size: 16px;
}
.header__submenu p {
  margin: 12px 0 12px 0;
  text-wrap: nowrap;
}
.header__menu {
  text-transform: uppercase;
}
.header__menu-button {
  color: var(--color-light);
  font-size: 20px;
  text-transform: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: clamp(16px, 16px + (20 - 16) * (100vw - 1440px) / (1920 - 1440), 20px);
  width: clamp(46.63px, 46.63px + (58.03 - 46.63) * (100vw - 1440px) / (1920 - 1440), 58.03px);
}
.header__menu-button--contacts {
  width: auto;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  font-size: clamp(16px, 16px + (20 - 16) * (100vw - 1440px) / (1920 - 1440), 20px);
  max-width: clamp(856px, 856px + (1160 - 856) * (100vw - 1440px) / (1920 - 1440), 1160px);
}
@media (max-width: 1400px) {
  .header__menu-list {
    max-width: clamp(564px, 564px + (856 - 564) * (100vw - 1024px) / (1440 - 1024), 856px);
  }
}
@media (max-width: 984px) {
  .header__menu-list {
    max-width: clamp(280px, 280px + (564 - 280) * (100vw - 402px) / (1024 - 402), 564px);
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container {
  display: flex;
  justify-content: center;
}
.hero__title {
  letter-spacing: 0.5em;
  font-family: "Medium-Regular", sans-serif;
  font-weight: 200;
  font-size: clamp(170px, 170px + (200 - 170) * (100vw - 1440px) / (1920 - 1440), 200px);
}
@media (max-width: 1400px) {
  .hero__title {
    font-size: clamp(103px, 103px + (170 - 103) * (100vw - 1024px) / (1440 - 1024), 170px);
  }
}
@media (max-width: 984px) {
  .hero__title {
    font-size: clamp(53px, 53px + (103 - 53) * (100vw - 402px) / (1024 - 402), 103px);
  }
}
.hero__title span {
  letter-spacing: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
.background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background::after {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(var(--blur-amount, 0px));
          backdrop-filter: blur(var(--blur-amount, 0px));
  transition: -webkit-backdrop-filter 0.1s linear;
  transition: backdrop-filter 0.1s linear;
  transition: backdrop-filter 0.1s linear, -webkit-backdrop-filter 0.1s linear;
  z-index: 1;
  pointer-events: none;
}
.background.blurred::after {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.gallery {
  padding-top: clamp(245px, 245px + (143 - 245) * (100vw - 1440px) / (1920 - 1440), 143px);
  padding-bottom: clamp(56px, 56px + (131 - 56) * (100vw - 1440px) / (1920 - 1440), 131px);
}
@media (max-width: 1400px) {
  .gallery {
    padding-top: clamp(90px, 90px + (245 - 90) * (100vw - 1024px) / (1440 - 1024), 245px);
  }
}
@media (max-width: 984px) {
  .gallery {
    padding-top: clamp(71px, 71px + (90 - 71) * (100vw - 402px) / (1024 - 402), 90px);
  }
}
.gallery__item {
  transform: translateY(150px);
  transition: transform 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}
.gallery__item.in-view {
  transform: translateY(0);
}
.gallery__item.above {
  transform: translateY(-100px);
  transition: transform 0.8s cubic-bezier(0.55, 0.05, 0.25, 0.9);
}
.gallery__item.below {
  transform: translateY(150px);
  transition: transform 0.8s cubic-bezier(0.55, 0.05, 0.25, 0.9);
}
.gallery__item.item-1 {
  max-width: clamp(808px, 808px + (1140 - 808) * (100vw - 1440px) / (1920 - 1440), 1140px);
  margin-left: clamp(178px, 178px + (236 - 178) * (100vw - 1440px) / (1920 - 1440), 236px);
}
@media (max-width: 1400px) {
  .gallery__item.item-1 {
    margin-left: clamp(84px, 84px + (178 - 84) * (100vw - 1024px) / (1440 - 1024), 178px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-1 {
    max-width: clamp(316px, 316px + (808 - 316) * (100vw - 402px) / (1024 - 402), 808px);
    margin-left: clamp(0px, 0px + (104 - 0) * (100vw - 402px) / (1024 - 402), 104px);
  }
}
.gallery__item.item-2 {
  align-self: flex-end;
  margin-top: clamp(199px, 199px + (282 - 199) * (100vw - 1440px) / (1920 - 1440), 282px);
  max-width: clamp(389px, 389px + (517 - 389) * (100vw - 1440px) / (1920 - 1440), 517px);
  margin-right: clamp(183px, 183px + (237 - 183) * (100vw - 1440px) / (1920 - 1440), 237px);
}
@media (max-width: 1400px) {
  .gallery__item.item-2 {
    margin-right: clamp(43px, 43px + (183 - 43) * (100vw - 1024px) / (1440 - 1024), 183px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-2 {
    margin-top: clamp(120px, 120px + (199 - 120) * (100vw - 402px) / (1024 - 402), 199px);
    max-width: clamp(277px, 277px + (389 - 277) * (100vw - 402px) / (1024 - 402), 389px);
    margin-right: clamp(0px, 0px + (43 - 0) * (100vw - 402px) / (1024 - 402), 43px);
  }
}
.gallery__item.item-3 {
  margin-top: clamp(138px, 138px + (264 - 138) * (100vw - 1440px) / (1920 - 1440), 264px);
  max-width: clamp(868px, 868px + (1142 - 868) * (100vw - 1440px) / (1920 - 1440), 1142px);
  margin-left: clamp(59px, 59px + (88 - 59) * (100vw - 1440px) / (1920 - 1440), 88px);
}
@media (max-width: 1400px) {
  .gallery__item.item-3 {
    margin-left: clamp(42px, 42px + (59 - 42) * (100vw - 1024px) / (1440 - 1024), 59px);
    margin-top: clamp(200px, 200px + (138 - 200) * (100vw - 1024px) / (1440 - 1024), 138px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-3 {
    margin-top: clamp(120px, 120px + (200 - 120) * (100vw - 402px) / (1024 - 402), 200px);
    max-width: clamp(323px, 323px + (868 - 323) * (100vw - 402px) / (1024 - 402), 868px);
    margin-left: clamp(26px, 26px + (42 - 26) * (100vw - 402px) / (1024 - 402), 42px);
  }
}
.gallery__item.item-4 {
  align-self: flex-end;
  margin-top: clamp(138px, 138px + (264 - 138) * (100vw - 1440px) / (1920 - 1440), 264px);
  max-width: clamp(927px, 927px + (1120 - 927) * (100vw - 1440px) / (1920 - 1440), 1120px);
}
@media (max-width: 1400px) {
  .gallery__item.item-4 {
    margin-top: clamp(200px, 200px + (138 - 200) * (100vw - 1024px) / (1440 - 1024), 138px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-4 {
    margin-top: clamp(120px, 120px + (200 - 120) * (100vw - 402px) / (1024 - 402), 200px);
    max-width: clamp(306px, 306px + (927 - 306) * (100vw - 402px) / (1024 - 402), 927px);
  }
}
.gallery__item.item-5 {
  margin-top: clamp(138px, 138px + (264 - 138) * (100vw - 1440px) / (1920 - 1440), 264px);
  max-width: clamp(571px, 571px + (755 - 571) * (100vw - 1440px) / (1920 - 1440), 755px);
  margin-left: clamp(237px, 237px + (310 - 237) * (100vw - 1440px) / (1920 - 1440), 310px);
}
@media (max-width: 1400px) {
  .gallery__item.item-5 {
    margin-top: clamp(200px, 200px + (138 - 200) * (100vw - 1024px) / (1440 - 1024), 138px);
    margin-left: clamp(147px, 147px + (237 - 147) * (100vw - 1024px) / (1440 - 1024), 237px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-5 {
    margin-top: clamp(120px, 120px + (200 - 120) * (100vw - 402px) / (1024 - 402), 200px);
    max-width: clamp(234px, 234px + (571 - 234) * (100vw - 402px) / (1024 - 402), 571px);
    margin-left: clamp(0px, 0px + (147 - 0) * (100vw - 402px) / (1024 - 402), 147px);
  }
}
.gallery__item.item-6 {
  align-self: flex-end;
  margin-top: clamp(138px, 138px + (184 - 138) * (100vw - 1440px) / (1920 - 1440), 184px);
  max-width: clamp(395px, 395px + (522 - 395) * (100vw - 1440px) / (1920 - 1440), 522px);
  margin-right: clamp(98px, 98px + (155 - 98) * (100vw - 1440px) / (1920 - 1440), 155px);
}
@media (max-width: 1400px) {
  .gallery__item.item-6 {
    margin-top: clamp(200px, 200px + (138 - 200) * (100vw - 1024px) / (1440 - 1024), 138px);
    margin-right: clamp(105px, 105px + (98 - 105) * (100vw - 1024px) / (1440 - 1024), 98px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-6 {
    margin-top: clamp(120px, 120px + (200 - 120) * (100vw - 402px) / (1024 - 402), 200px);
    max-width: clamp(229px, 229px + (395 - 229) * (100vw - 402px) / (1024 - 402), 395px);
    margin-right: clamp(42px, 42px + (105 - 42) * (100vw - 402px) / (1024 - 402), 105px);
  }
}
.gallery__item.item-7 {
  flex-shrink: 0;
  margin-top: clamp(138px, 138px + (184 - 138) * (100vw - 1440px) / (1920 - 1440), 184px);
  max-width: clamp(1400px, 1400px + (1840 - 1400) * (100vw - 1440px) / (1920 - 1440), 1840px);
  height: clamp(680px, 680px + (894 - 680) * (100vw - 1440px) / (1920 - 1440), 894px);
}
@media (max-width: 1400px) {
  .gallery__item.item-7 {
    margin-top: clamp(200px, 200px + (138 - 200) * (100vw - 1024px) / (1440 - 1024), 138px);
    max-width: clamp(984px, 984px + (1400 - 984) * (100vw - 1024px) / (1440 - 1024), 1400px);
    height: clamp(478px, 478px + (680 - 478) * (100vw - 1024px) / (1440 - 1024), 680px);
  }
}
@media (max-width: 984px) {
  .gallery__item.item-7 {
    margin-top: clamp(120px, 120px + (200 - 120) * (100vw - 402px) / (1024 - 402), 200px);
    max-width: clamp(374px, 374px + (984 - 374) * (100vw - 402px) / (1024 - 402), 984px);
    height: clamp(182px, 182px + (478 - 182) * (100vw - 402px) / (1024 - 402), 478px);
  }
}
.gallery__item > figcaption {
  font-size: clamp(15px, 15px + (20 - 15) * (100vw - 1440px) / (1920 - 1440), 20px);
  margin-top: clamp(8px, 8px + (12 - 8) * (100vw - 1440px) / (1920 - 1440), 12px);
}
@media (max-width: 984px) {
  .gallery__item > figcaption {
    margin-top: clamp(4px, 4px + (8 - 4) * (100vw - 402px) / (1024 - 402), 8px);
    font-size: clamp(10px, 10px + (15 - 10) * (100vw - 402px) / (1024 - 402), 15px);
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
}

.music__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(75px, 75px + (118 - 75) * (100vw - 1440px) / (1920 - 1440), 118px);
}
@media (max-width: 1400px) {
  .music__container {
    margin-top: clamp(72px, 72px + (75 - 72) * (100vw - 1024px) / (1440 - 1024), 75px);
  }
}
@media (max-width: 984px) {
  .music__container {
    margin-top: clamp(60px, 60px + (72 - 60) * (100vw - 402px) / (1024 - 402), 72px);
    margin-bottom: 100px;
  }
}
.music__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 984px) {
  .music__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .music__row {
    grid-template-columns: 1fr;
  }
}
.music__track {
  max-width: clamp(335px, 335px + (445 - 335) * (100vw - 1440px) / (1920 - 1440), 445px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1400px) {
  .music__track {
    max-width: clamp(231px, 231px + (335 - 231) * (100vw - 1024px) / (1440 - 1024), 335px);
  }
}
@media (max-width: 984px) {
  .music__track {
    max-width: clamp(374px, 374px + (231 - 374) * (100vw - 402px) / (1024 - 402), 231px);
  }
}
.music__track-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(16px, 16px + (22 - 16) * (100vw - 1440px) / (1920 - 1440), 22px);
  margin-top: clamp(22px, 22px + (30 - 22) * (100vw - 1440px) / (1920 - 1440), 30px);
  margin-bottom: clamp(12px, 12px + (15 - 12) * (100vw - 1440px) / (1920 - 1440), 15px);
}
@media (max-width: 1400px) {
  .music__track-title {
    font-size: clamp(11px, 11px + (16 - 11) * (100vw - 1024px) / (1440 - 1024), 16px);
    margin-top: clamp(12px, 12px + (22 - 12) * (100vw - 1024px) / (1440 - 1024), 22px);
    margin-bottom: clamp(8px, 8px + (12 - 8) * (100vw - 1024px) / (1440 - 1024), 12px);
  }
}
@media (max-width: 984px) {
  .music__track-title {
    font-size: clamp(18px, 18px + (11 - 18) * (100vw - 402px) / (1024 - 402), 11px);
    margin-top: clamp(20px, 20px + (12 - 20) * (100vw - 402px) / (1024 - 402), 12px);
    margin-bottom: clamp(12px, 12px + (8 - 12) * (100vw - 402px) / (1024 - 402), 8px);
  }
}
.music__track-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(12px, 12px + (16 - 12) * (100vw - 1440px) / (1920 - 1440), 16px);
  gap: clamp(12px, 12px + (15 - 12) * (100vw - 1440px) / (1920 - 1440), 15px);
}
@media (max-width: 1400px) {
  .music__track-item {
    font-size: clamp(8px, 8px + (12 - 8) * (100vw - 1024px) / (1440 - 1024), 12px);
    gap: clamp(8px, 8px + (12 - 8) * (100vw - 1024px) / (1440 - 1024), 12px);
  }
}
@media (max-width: 984px) {
  .music__track-item {
    font-size: clamp(13px, 13px + (8 - 13) * (100vw - 402px) / (1024 - 402), 8px);
    gap: clamp(12px, 12px + (8 - 12) * (100vw - 402px) / (1024 - 402), 8px);
  }
}/*# sourceMappingURL=styles.css.map */